<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/comum :: cabeca(~{::title})}">
    <title>Página não encontrada | Login Seguro</title>
</head>
<body>
<main class="pagina-erro">
    <div class="guilhoche"></div>
    <div class="pagina-erro__cartao">
        <h1>Esta página não existe</h1>
        <p>Confira o endereço digitado ou volte para o início.</p>
        <a class="botao" th:href="@{/painel}">Ir para o início</a>
    </div>
</main>
</body>
</html>
